@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;900&display=swap');


body {
    background: url(./images/retro-living-room-interior-design.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 90vh;
    color: #fff;
    font-family: Montserrat;
    overflow: hidden;
    padding: 2% 4%;
}

/* ------------------- */
/* -------Navbar------ */
/* ------------------- */

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

nav>h1 {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 700;
}

.list-div {
    flex: 2;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding-bottom: 2px;
    border-bottom: #fff solid 2px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0%;
    gap: 3rem;
    list-style: none;
}

.list-items {
    font-weight: bolder;
    padding-bottom: 1px;
    display: inline-block;
    background: linear-gradient(#fff, #fff) center center no-repeat;
    background-size: 0% 1px;
    transition: all 0.45s;
}

.list-items:hover {
    background-size: 100% 1px;
    cursor: pointer;
}

.call-img {
    position: absolute;
    z-index: -1;
    right: 16%;
    top: 3%;
}


/* ------------------- */
/* ----Main section--- */
/* ------------------- */

.main {
    margin-top: 5%;
    padding: 0 1% 0 2%;
}

.main>h1 {
    font-size: 3.3rem;
    font-weight: 700;
}

.btn {
    margin-top: 2%;
    font-family: Montserrat;
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: #fff 2px solid;
    border-radius: 25px;
    padding: 10px 25px;
}

/* --NOTES-- */
.note1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 23%;
    right: 10%;
}

.note2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 15%;
    right: 30%;
}

.white {
    display: block;
    border-radius: 20px;
    height: 40px;
    width: 80px;
    background-color: #fff;
}

.main-note {
    background-color: rgba(255, 255, 255, 0.226);
    font-size: small;
    font-weight: 600;
    padding: 10px 20px;
}

.line1 {
    position: absolute;
    right: 30%;
    top: 100%;
    display: block;
    background-color: #fff;
    width: 1px;
    height: 4rem;
}

.line2 {
    position: absolute;
    top: 35%;
    left: 100%;
    display: block;
    background-color: #fff;
    width: 4rem;
    height: 1px;
}

.circle1 {
    display: block;
    position: absolute;
    right: 27%;
    top: 139%;
    background-color: #fff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.circle2 {
    position: absolute;
    top: 30%;
    left: 131%;
    display: block;
    background-color: #fff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.puzzle-img {
    position: absolute;
    top: -2%;
    right: -27%;
}

.idea-img {
    position: absolute;
    top: -4%;
    right: 6%;
}